body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#e8fff2;
  /* background-color: #151517; */
  background-color: #000;
  /* display: flex;
  flex-direction: column; */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "Wipeout";
    src: local("./assets/fonts"),
     url("./assets/fonts/SilverStream.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Desib";
    src: local("./assets/fonts"),
     url("./assets/fonts/DESIB.ttf") format("truetype");
    font-weight:600;
}
@font-face {
    font-family: "Nasal";
    src: local("./assets/fonts"),
     url("./assets/fonts/nasalization.otf") format("opentype");
    font-weight: 600;
}
@font-face {
    font-family: "Robot";   
    src: local("./assets/fonts"),
     url("./assets/fonts/NeonRobot.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Angel";   
    src: local("./assets/fonts"),
     url("./assets/fonts/HelloAngel.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Pado";   
    src: local("./assets/fonts"),
     url("./assets/fonts/padomela.ttf") format("truetype");
    font-weight: 600;
}
